

.App {
  text-align: center;
}

.App-header {
  background-color: #285e6e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-login {
  height: 75%;
  width: 75%;
  border-radius: 12px;
  padding: 5px;
  background-image: url("./loginPage.jpg");
}

.login {
  border-radius: 12px;
  padding: 5px;
  color: #282c34;
  font-weight: 1000;
}